<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Aye Aye Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Aye Aye Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/aye-aye.jpg" alt="aye aye">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/aye-aye2.jpg">
                    <img class="more-product-pic" id="quokka1" src="/happy-bear-friends/images/aye-aye2.jpg" alt="aye-aye2">
                </a>
                <a href="/happy-bear-friends/images/aye-aye3.jpg">
                    <img class="more-product-pic" id="quokka1" src="/happy-bear-friends/images/aye-aye3.jpg" alt="aye-aye3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our aye aye plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Aye Aye plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen. As the Aye Aye has naturally beautiful eyes, we have taken careful
                            steps to preserve the Aye Aye eyes with high quality plastic that will help bend light in a way that emphasizes
                            its eyes.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">The aye-aye (Daubentonia madagascariensis) is a lemur, a strepsirrhine primate native to 
                        Madagascar that combines rodent-like teeth that perpetually grow and a special thin middle finger. It is the world's 
                        largest nocturnal primate, and is characterized by its unusual method of finding food: it taps on trees to find grubs, 
                        then gnaws holes in the wood using its forward slanting incisors to create a small hole in which it inserts its narrow 
                        middle finger to pull the grubs out. This foraging method is called percussive foraging, and takes up 5–41% of foraging 
                        time. The only other animal species known to find food in this way is the striped possum. From an ecological point of 
                        view, the aye-aye fills the niche of a woodpecker, as it is capable of penetrating wood to extract the invertebrates 
                        within.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">11</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">40 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
