<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Indri Lemur Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Indri Lemur Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/indri-lemur.jpg" alt="indri lemur">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/indri-lemur2.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/indri-lemur2.jpg" alt="indri-lemur2">
                </a>
                <a href="/happy-bear-friends/images/indri-lemur3.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/indri-lemur3.jpg" alt="indri-lemur3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Indri Lemur plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Indri Lemur plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">The indri, also called the babakoto, is one of the largest living lemurs, with a 
                        head-and-body length of about 64–72 cm (25–28 in) and a weight of between 6 to 9.5 kg (13 to 21 lb). It has a 
                        black and white coat and maintains an upright posture when climbing or clinging. It is monogamous and lives in 
                        small family groups, moving through the canopy, and is purely herbivorous, feeding mainly on leaves but also seeds, 
                        fruits, and flowers. The groups are quite vocal, communicating with other groups by singing, roaring and other 
                        vocalisations</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">10</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">100 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
