<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kakapo Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Kakapo Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/kakapo.jpg" alt="kakapo">
            </div>
            <div class="more-product-pic">
                <img class="more-product-pic" src="/happy-bear-friends/images/kakapo2.jpg" alt="kakapo2">
                <img class="more-product-pic" src="/happy-bear-friends/images/kakapo3.jpg" alt="kakapo3">
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Kakapo plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Kakapo plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">The kakapo or night parrot, also called owl parrot (Strigops habroptila), is a species 
                        of large, flightless, nocturnal, ground-dwelling parrot of the super-family Strigopoidea, endemic to New Zealand. It 
                        has finely blotched yellow-green plumage, a distinct facial disc of sensory, vibrissa-like feathers, a large grey beak, 
                        short legs, large feet, and wings and a tail of relatively short length. A combination of traits make it unique among 
                        its kind; it is the world's only flightless parrot, the heaviest parrot, nocturnal, herbivorous, visibly sexually 
                        dimorphic in body size, has a low basal metabolic rate and no male parental care, and is the only parrot to have a 
                        polygynous lek breeding system.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">09</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">80 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
