<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Komodo Dragon Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Komodo Dragon Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/komodo-dragon.jpg" alt="komodo dragon">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/komodo-dragon2.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/komodo-dragon2.jpg" alt="komodo-dragon2">
                </a>
                <a href="/happy-bear-friends/images/komodo-dragon3.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/komodo-dragon3.jpg" alt="komodo-dragon3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Komodo Dragon plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Komodo Dragon plushie is no different. The scales are made from 
                            high quality Plush Felt Fabric hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">The Komodo dragon (Varanus komodoensis), also known as the Komodo monitor, is a species 
                        of lizard found in the Indonesian islands of Komodo, Rinca, Flores, Gili Motang, and Padar. A member of the monitor lizard 
                        family Varanidae, it is the largest living species of lizard, growing to a maximum length of 3 metres (10 ft) in rare 
                        cases and weighing up to approximately 70 kilograms (150 lb). Komodo dragons were first recorded by Western scientists 
                        in 1910. Their large size and fearsome reputation make them popular zoo exhibits. In the wild, their range has contracted 
                        due to human activities, and they are listed as vulnerable by the IUCN. They are protected under Indonesian law, and a 
                        national park, Komodo National Park, was founded to aid protection efforts.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">05</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">100 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">100% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
