<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Okapi Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Okapi Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/okapi.jpg" alt="okapi">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/okapi2.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/okapi2.jpg" alt="quokka2">
                </a>
                <a href="/happy-bear-friends/images/okapi3.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/okapi3.jpg" alt="quokka3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Okapi plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Okapi plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">Okapis are primarily diurnal, but may be active for a few hours in darkness. They are 
                        essentially solitary, coming together only to breed. Okapis are herbivores, feeding on tree leaves and buds, grasses, 
                        ferns, fruits, and fungi. Rut in males and estrus in females does not depend on the season. In captivity, estrous 
                        cycles recur every 15 days. The gestational period is around 440 to 450 days long, following which usually a single 
                        calf is born. The juveniles are kept in hiding, and nursing takes place infrequently. Juveniles start taking solid food 
                        from three months, and weaning takes place at six months.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">02</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">70 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
