<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Order Form</h3>
            <form onSubmit="mailClient()">
                * Required Fields
                <fieldset>
                    <legend>PRODUCT</legend>
                    <input type="text" id="productid" placeholder="Product ID*" required pattern="[0-9]{2}"> Input must be two digits. <br/>
                    <input type="text" id="quantity" placeholder="Quantity*" required pattern="[0-9]{2}"> Input must be two digits. <br/> 
                </fieldset>
                
                <fieldset>
                    <legend>SHIPPING ADDRESS</legend>
                    <input type="text" id="firstname" placeholder="First Name*" required><br/>
                    <input type="text" id="lastname" placeholder="Last Name*" required><br/>
                    <input type="text" id="email" placeholder="Email*" required pattern="[0-9a-zA-Z._-]+[@][a-zA-Z_]+[.][a-zA-Z]{2,3}"> Needs to be a valid email address. <br/>
                    <input type="text" id="address1" placeholder="Address 1 (Street Address)*" required><br/>
                    <input type="text" id="address2" placeholder="Address 2 (Apt #, Suite, Floor, etc.)"required><br/>
                    <input type="text" id="state" placeholder="State*" required pattern="[a-zA-Z ]+"><br/>
                    <input type="text" id="city" placeholder="City*" required pattern="[a-zA-Z ]+"><br/> 
                    <input type="text" id="zipcode" placeholder="Zip Code*" required pattern="[0-9]{5}"> Needs to be a valid 5 digit zip code. <br/>
                    <input type="text" id="phone" placeholder="Phone*" required pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}"> Format must be 000 000 0000 or 000-000-0000. <br/>
                </fieldset>
                
                <fieldset>
                    <legend>DELIVERY METHOD</legend>
                    <input type="radio" id="shipping" value="standard" checked>Standard (3-7 Business Days)<br/>
                    <input type="radio" id="shipping" value="twoday">Two Day (2-3 Business Days)<br/>
                    <input type="radio" id="shipping" value="express">Express (1-2 Business Days)<br/>
                </fieldset>
                
                <fieldset>
                    <legend>PAYMENT</legend>
                    <input type="text" id="nameoncard" placeholder="Name on Card*" required pattern="[a-zA-Z]+[ ][a-zA-Z]+"> First name and last name separated with a space. <br/> 
                    <input type="text" id="cardnumber" placeholder="Card Number*" required pattern="[0-9]{16}"> Must be valid card number (16 digits). <br/>
                    Expiration Date 
                    <select id="expr-month" required>
                        <option selected="selected" value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                    <input type="text" id="year" placeholder="Year*" required pattern="[0-9]{4}"> Must be 4 digit year. <br/> 
                    <input type="text" id="securitycode" placeholder="Security Code*" required pattern="[0-9]{3}"> Must be 3 digit code. <br/>
                </fieldset>
                <input type="submit" name="Buy">
            </form>

            <script>
                    function mailClient()
                    {
                        var title = "Happy Bear Friends: Purchase";
                        var email = document.getElementById("email").value;
                        var body =
                        "Hello " +
                        document.getElementById("firstname").value + " " + document.getElementById("lastname").value + ", %0D%0A %0D%0A" +
                        "Thank you for your order we are getting it ready.%0D%0A %0D%0A" +
                        "Your order information is as follows: %0D%0A" +
                        "Product no: " + document.getElementById("productid").value + "%0D%0A" +
                        "Quantity: " + document.getElementById("quantity").value + "%0D%0A %0D%0A" +
                        "Shipping Address: %0D%0A" + 
                        document.getElementById("firstname").value + " " + document.getElementById("lastname").value + "%0D%0A" +
                        document.getElementById("email").value + "%0D%0A" +
                        document.getElementById("address1").value + ", " + document.getElementById("address2").value + ", " +
                        document.getElementById("city").value + ", " + document.getElementById("state").value + " " + 
                        document.getElementById("zipcode").value + "%0D%0A" +
                        document.getElementById("phone").value + "%0D%0A %0D%0A" + 
                        "Shipping Type: " + document.getElementById("shipping").value + "%0D%0A %0D%0A" +
                        "Payment Information: %0D%0A" +
                        document.getElementById("nameoncard").value + "%0D%0A" +
                        document.getElementById("cardnumber").value + "%0D%0A" +
                        document.getElementById("expr-month").value + " " + document.getElementById("year").value + "%0D%0A" +
                        document.getElementById("securitycode").value;
                
                        window.location.href = "mailto:"+email+"?subject="+title+"&body="+body;
              
                        alert("Thank you for shopping with us!");
                        
                    }
                </script>
        </div>
    </body>
</html>
