<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <p>Quokka Plushie</p>
            <p><img src="/happy-bear-friends/images/quokka.jpg" style="width:150px;height:150px;" alt="Quokka image"></p>
            <p>Detailed Description</p>
            <p>Material</p>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button>
        </div>
    </body>
</html>
