<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Quokka Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Quokka Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/quokka.jpg" alt="quokka">
            </div>
            <div class="more-product-pic">
                <img class="more-product-pic" id="quokka1" src="/happy-bear-friends/images/quokka2.jpg" alt="quokka2">
                <img class="more-product-pic" id="quokka1" src="/happy-bear-friends/images/quokka3.jpg" alt="quokka3">
            </div>
            <p>Detailed Description</p>
            <p>Material: 100% Cotton</p>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button>
        </div>
    </body>
</html>
