<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Red Panda Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Red Panda Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/red-panda.jpg" alt="red-panda">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/red-panda2.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/red-panda2.jpg" alt="red-panda2">
                </a>
                <a href="/happy-bear-friends/images/red-panda3.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/red-panda3.jpg" alt="red-panda3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Red Panda plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Red Panda plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">The red panda (Ailurus fulgens), also called the lesser panda, the red bear-cat, and 
                        the red cat-bear, is a mammal native to the eastern Himalayas and southwestern China. It has reddish-brown fur, a long, 
                        shaggy tail, and a waddling gait due to its shorter front legs; it is roughly the size of a domestic cat, though with 
                        a longer body and somewhat heavier. It is arboreal, feeds mainly on bamboo, but also eats eggs, birds, and insects. It 
                        is a solitary animal, mainly active from dusk to dawn, and is largely sedentary during the day.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">06</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">50 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
