<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Spring Hare Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Spring Hare Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/spring-hare.jpg" alt="spring hare">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/spring-hare2.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/spring-hare2.jpg" alt="spring-hare2">
                </a>
                <a href="/happy-bear-friends/images/spring-hare3.jpg">
                    <img class="more-product-pic" src="/happy-bear-friends/images/spring-hare3.jpg" alt="spring-hare3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Spring Hare plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Spring Hare plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">Spring hare, (Pedetes capensis), also spelled springhare, a bipedal grazing rodent 
                        indigenous to Africa. About the size of a rabbit, the spring hare more closely resembles a giant jerboa in having a 
                        short round head, a thick muscular neck, very large eyes, and long, narrow upright ears. Like jerboas, it has short 
                        forelegs but long, powerful hind legs and feet used for jumping. Standing on its hind feet and using its tail as a 
                        brace, the spring hare moves in a series of short hops with its forefeet held close to the body. When alarmed, it 
                        travels quickly in erratic leaps of 2 to 3 metres (6.6 to 9.8 feet) until it reaches a burrow.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">08</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">50 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
