<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tenrec Plushie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
        <script type="text/javascript" src="/happy-bear-friends/scripts/picture_gallery.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>Tenrec Plushie</h3>
            <div class="product-pic">
                <img id="main-product-pic" src="/happy-bear-friends/images/tenrec.png" alt="tenrec">
            </div>
            <div class="more-product-pic">
                <a href="/happy-bear-friends/images/tenrec2.png">
                    <img class="more-product-pic" src="/happy-bear-friends/images/tenrec2.png" alt="tenrec2">
                </a>
                <a href="/happy-bear-friends/images/tenrec3.png">
                    <img class="more-product-pic" src="/happy-bear-friends/images/tenrec3.png" alt="tenrec3">
                </a>
            </div>
            
            <hr>
            
            <table class="det-desc">
                <tr>
                    <td class="desc-left">Description</td>
                    <td class="desc-right">Our Tenrec plushie looks so real that it might fool anyone when they see it! The lifelike nature 
                            of our products is its selling point and the Tenrec plushie is no different. The fur is made from 
                            organic cotton hand-sown by our master craftsmen.</td>
                </tr>
                <tr>
                    <td class="desc-left">About</td>
                    <td class="desc-right animal-desc">A tenrec is any species of mammal within the family Tenrecidae, found on Madagascar 
                        and in parts of the African mainland. Tenrecs are widely diverse; as a result of convergent evolution they resemble 
                        hedgehogs, shrews, opossums, mice and even otters. They occupy aquatic, arboreal, terrestrial and fossorial environments. 
                        Some of these species, including the greater hedgehog tenrec, can be found in the Madagascar dry deciduous forests.</td>
                </tr>
                <tr>
                    <td class="desc-left">ID #: </td>
                    <td class="desc-right">07</td>
                </tr>
                <tr>
                    <td class="desc-left">Price: </td>
                    <td class="desc-right">30 USD</td>
                </tr>
                <tr>
                    <td class="desc-left">Material: </td>
                    <td class="desc-right">70% Organic Cotton <br>30% Plush Felt Fabric</td>
                </tr>
                <tr>
                    <td class="desc-left in-stock">In Stock. </td>
                </tr>
            </table>
            <hr>
            <button id="buy_quokka" type="submit" onclick="document.location.href='order_form.html';">Buy</button><br/>
            <p>*Disclaimer: No animals were harmed in making these products.</p>
        </div>
    </body>
</html>
