/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2018, 10:53:07 PM
    Author     : Nerianne
*/

/**********************
    GENERAL STYLING
**********************/
body{
    background-color: #E6EBE0;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    width: 150px;
    height: 150px;
}