<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Our Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>PRODUCTS</h3>
            <div class="products-table">
                <table>
                    <tr>
                        <td>
                            <a href="/happy-bear-friends/views/products/quokka.html"><img src="/happy-bear-friends/images/quokka.jpg" alt="quokka"></a><br/>
                            QUOKKA<br/>
                            50 USD<br/>
                            Made in Australia
                        </td> 
                        <td>
                            <a href="/happy-bear-friends/views/products/okapi.html"><img src="/happy-bear-friends/images/okapi.jpg"></a><br/>
                            OKAPI<br/>
                            70 USD<br/>
                            Made in the Congo
                        </td>
                        <td>
                            <a href="/happy-bear-friends/views/products/kiwi.html"><img src="/happy-bear-friends/images/kiwi.jpg"></a><br/>
                            KIWI<br/>
                            40 USD<br/>
                            Made in New Zealand
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <a href="/happy-bear-friends/views/products/cassowary.html"><img src="/happy-bear-friends/images/cassowary.jpg"></a><br/>
                            CASSOWARY<br/>
                            80 USD<br/>
                            Made in Australia
                        </td> 
                        <td>
                            <a href="/happy-bear-friends/views/products/komodo-dragon.html"><img src="/happy-bear-friends/images/komodo-dragon.jpg"></a><br/>
                            KOMODO DRAGON<br/>
                            100 USD<br/>
                            Made in Indonesia
                        </td>
                        <td>
                            <a href="/happy-bear-friends/views/products/red-panda.html"><img src="/happy-bear-friends/images/red-panda.jpg"></a><br/>
                            RED PANDA<br/>
                            50 USD<br/>
                            Made in China
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/happy-bear-friends/views/products/tenrec.html"><img src="/happy-bear-friends/images/tenrec.png"></a><br/>
                            TENREC<br/>
                            30 USD<br/>
                            Made in Madagascar
                        </td> 
                        <td>
                            <a href="/happy-bear-friends/views/products/spring-hare.html"><img src="/happy-bear-friends/images/spring-hare.jpg"></a><br/>
                            SPRING HARE<br/>
                            50 USD<br/>
                            Made in South Africa
                        </td>
                        <td>
                            <a href="/happy-bear-friends/views/products/kakapo.html"><img src="/happy-bear-friends/images/kakapo.jpg"></a><br/>
                            KAKAPO<br/>
                            80 USD<br/>
                            Made in New Zealand
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="/happy-bear-friends/views/products/indri-lemur.html"><img src="/happy-bear-friends/images/indri-lemur.jpg"></a><br/>
                            INDRI LEMUR<br/>
                            100 USD<br/>
                            Made in Madagascar
                        </td> 
                        <td>
                            <a href="/happy-bear-friends/views/products/aye-aye.html"><img src="/happy-bear-friends/images/aye-aye.jpg"></a><br/>
                            AYE AYE<br/>
                            40 USD<br/>
                            Made in Madagascar
                        </td>
                    </tr>  
                </table>
            </div>
        </div>
    </body>
</html>
