<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/happy-bear-friends/stylesheets/styles.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/happy-bear-friends/index.html">HOME</a>
            <a href="/happy-bear-friends/views/pages/ourstory.html">OUR STORY</a>
            <a href="/happy-bear-friends/views/pages/products.html">PRODUCTS</a>
        </div>
        
        <div class="main">
            <h3>PRODUCTS</h3>
            <table>
                <tr>
                    <td>
                        <a href="/happy-bear-friends/views/products/quokka.html"><img src="/happy-bear-friends/images/quokka.jpg"></a><br/>
                        QUOKKA<br/>
                        50 USD<br/>
                        Made in Australia
                    </td> 
                    <td>
                        <img src="/happy-bear-friends/images/okapi.jpg"><br/>
                        OKAPI<br/>
                        70 USD<br/>
                        Made in the Congo
                    </td>
                    <td>
                        <img src="/happy-bear-friends/images/kiwi.jpg"><br/>
                        KIWI<br/>
                        40 USD<br/>
                        Made in New Zealand
                    </td>
                </tr>
                 <tr>
                    <td>
                        <img src="/happy-bear-friends/images/cassowary.jpg"><br/>
                        CASSOWARY<br/>
                        80 USD<br/>
                        Made in Australia
                    </td> 
                    <td>
                        <img src="/happy-bear-friends/images/komodo-dragon.jpg"><br/>
                        KOMODO DRAGON<br/>
                        100 USD<br/>
                        Made in Indonesia
                    </td>
                    <td>
                        <img src="/happy-bear-friends/images/red-panda.jpg"><br/>
                        RED PANDA<br/>
                        50 USD<br/>
                        Made in China
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/happy-bear-friends/images/tenrec.png"><br/>
                        TENREC<br/>
                        30 USD<br/>
                        Made in Madagascar
                    </td> 
                    <td>
                        <img src="/happy-bear-friends/images/spring-hare.jpg"><br/>
                        SPRING HARE<br/>
                        50 USD<br/>
                        Made in South Africa
                    </td>
                    <td>
                        <img src="/happy-bear-friends/images/kakapo.jpg"><br/>
                        KAKAPO<br/>
                        80 USD<br/>
                        Made in New Zealand
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <img src="/happy-bear-friends/images/indri-lemur.jpg"><br/>
                        INDRI LEMUR<br/>
                        100 USD<br/>
                        Made in Madagascar
                    </td> 
                    <td>
                        <img src="/happy-bear-friends/images/aye-aye.jpg"><br/>
                        AYE AYE<br/>
                        40 USD<br/>
                        Made in Madagascar
                    </td>
                </tr>  
            </table>
        </div>
    </body>
</html>
